
<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="f login-heading mb-4">Welcome back!</h3>
              <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
          <span class="label-input100">Email</span>
          <input class="input100" type="email" ngModel name="email" placeholder="Enter email" autocomplete="nope">
          <span class="focus-input100"></span>
        </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
          <span class="label-input100">Password</span>
          <input class="input100" ngModel type="password" name="password" placeholder="Enter password">
          <span class="focus-input100"></span>
        </div>
         <div class="text-left">
                  <a  class="co" style="font-size: 16px" routerLink="/register">Sign up</a></div>
               
                <button class=" btnMar btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Sign in</button>
                <div class="text-center">
                  <a class="co"  style="font-size: 16px" routerLink="/home">Home <span class="ion-ios-arrow-forward margin"></span></a></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-form-title" style="background-image: url(assets/login/images/bg-01.jpg);">
        <span class="login100-form-title-1">
          Sign In
        </span>
      </div>

      <form class="login100-form validate-form" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
          <span class="label-input100">Email Address</span>
          <input class="input100" type="email" ngModel name="email" placeholder="Enter email" autocomplete="nope">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
          <span class="label-input100">Password</span>
          <input class="input100" ngModel type="password" name="password" placeholder="Enter password">
          <span class="focus-input100"></span>
        </div>

        <div>
          <a routerLink="/register" class="txt1">
            Sing up
          </a>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn" type="submit">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div> -->
