<app-nav-pages></app-nav-pages>

<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="sidebar content-box margin" style="display: block;">
          <ul class="nav">
            <!-- Main menu -->
            <li>
              <a routerLink="/admin/rooms"><i class="fa fa-bed"></i>Rooms</a>
            </li>
            <li>
              <a routerLink="/admin/categories"><i class="fa fa-list"></i>Categories</a>
            </li>

            <li class="submenu">
              <a routerLink="/">
                <i class="fa fa-concierge-bell"></i> Services
                <span class="caret pull-right"></span>
              </a>
              <!-- Sub menu -->
              <ul>
                <li><a href="login.html">Restaurant</a><i class="fa fa-utensils"></i></li>
                <li><a href="signup.html">Salons</a><i class="fa fa-glass-cheers"></i></li>
                <li><a routerLink="admin/our-services">Others</a><i class="fa fa-layer-group"></i></li>
              </ul>
              <!-- Sub menu end-->
            </li>
            <li>
              <a (click)="logout()"><i class="fa fa-home"></i>Exit</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-10">
        <div class="container">
          <div class="content-box-large">
            <div class="panel-heading">
              <div class="panel-title">Services Management</div>
            </div>
            <!-- button-add -->
            <div class="col col-xs-6 text-right">
              <p><button class="btn btn-add btn-xs" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><span class="fa fa-plus-square"></span></button></p>
            </div>
            <div class="panel-body">
              <div class="table-responsive">
                <table id="mytable" class="table table-bordered table-striped ">
                  <thead>
                    <tr>
                      <th>Image</th>
                      <th>Service name</th>
                      <th class="break">Description</th>
                      <th>Hours</th>
                      <th>Price</th>
                      <th>Edit</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="
                    let serv of servicesArray  ">
                      <td><img *ngIf="serv.img" 
                        (click)="viewImage( serv.img )" 
                        data-toggle="modal" data-target="#myModal" data-whatever="@mdo" 
                        class="img-50 pointer" src="{{serv.img}}"></td>
                      <td>{{serv.name}}</td>
                      <td>{{serv.description}}</td>
                      <td>{{serv.hours}}</td>
                      <td>{{serv.price}}</td>
                      <td>
                        <p data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" title="Edit"><button (click)="getUpdate(serv.key)" class="btn btn-edit btn-xs" data-target="#exampleModal"><span class="fa fa-pencil"></span></button></p>
                      </td>
                      <td>
                        <p data-placement="top" data-toggle="tooltip" title="Delete"><button (click)="delete(serv.key)" class="btn btn-delete btn-xs"><span class="fa fa-trash"></span></button></p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- modal normal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create a new service</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Name:</label>
                  <input [(ngModel)]="serv.name" type="text" class="form-control" name="name" required maxlength=80>
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Description:</label>
                  <input [(ngModel)]="serv.description" type="text" class="form-control" name="description" required maxlength=200>
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Hours:</label>
                  <input [(ngModel)]="serv.hours" type="text" class="form-control" name="hours" required>
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Price:</label>
                  <input [(ngModel)]="serv.price" type="number" class="form-control" name="price" required>
                </div>
              </div>
              <div class="carousel-item">
                <!-- <form> -->
                <div class="dropzone" 
                      appDropzone 
                      (hovered)="toggleHover($event)" 
                      (dropped)="onDrop($event)" 
                      [class.hovering]="isHovering">
                      
                      <h3>Drag and Drop a File</h3>
                      <div class="file">
                        <label class="file-label">
                      <input class="file-input" type="file" (change)="onDrop($event.target.files)">
                      
                      <span class="file-cta">
                        <span class="file-icon">
                          <i class="fa fa-upload"></i>
                        </span>
                        <span class="file-label">
                          or choose a file…
                        </span>
                      </span>
                    </label>
                  </div>
                </div>
               
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save</button>
                  <button class=" btn btn-primary " href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="fa fa-chevron-left"></span>
                  </button>
                </div>
              </div>
              
            </div>
          </form>
          <!-- </form> -->
          <!-- Controls -->
          <button class=" btn btn-primary" href="#carousel-example-generic" role="button" data-slide="next">Next
            <span class="fa fa-chevron-right"></span></button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- modal component -->
<app-modals [img]="url"></app-modals>

