<!-- Navigation
    ==========================================-->
<nav
  class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target"
  id="ftco-navbar"
>
  <div class="container">
    <a class="navbar-brand" routerLink="/home">Ecoland</a>
    <button
      class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle"
      type="button"
      data-toggle="collapse"
      data-target="#ftco-nav"
      aria-controls="ftco-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav nav ml-auto">
        <li class="nav-item">
          <a href="#home-section" class="nav-link"><span>Home</span></a>
        </li>
        <li class="nav-item">
          <a href="#services-section" class="nav-link"><span>Services</span></a>
        </li>
        <li class="nav-item">
          <a routerLink="/about" class="nav-link"><span>About</span></a>
        </li>
        <li class="nav-item">
          <a href="#destination-section" class="nav-link"
            ><span>Destination</span></a
          >
        </li>
        <li class="nav-item">
          <a href="#hotel-section" class="nav-link"><span>Hotel</span></a>
        </li>
        <li class="nav-item">
          <a href="#restaurant-section" class="nav-link"
            ><span>Restaurant</span></a>
        </li>
        <li class="nav-item">
          <a href="#contact-section" class="nav-link"><span>Contact</span></a>
        </li>
        <li class="nav-item">
          <a routerLink="/login" class="nav-link"><span>Sing in</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span>Admin</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/admin/categories">Categories</a>
            <a class="dropdown-item" routerLink="/admin/rooms">Rooms</a>
            <a class="dropdown-item" routerLink="/admin/our-services">Services</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- END nav -->
