<app-nav-pages></app-nav-pages>
<div class="page-content">
  <div class="container">
    <div class="row">
      <div class=" sizeP col-md-2">
        <div class="sidebar content-box margin" style="display: block;">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" routerLink="/admin/rooms"><i class="fa fa-bed"></i>Rooms</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/admin/categories"><i class="fa fa-list"></i>Categories</a>
            </li>
            <li>
              <a class="nav-link" data-toggle="collapse" href="#collapseExample" aria-expanded="false"
                aria-controls="collapseExample"><i class="fas fa-concierge-bell"></i>Services</a>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                  <a class="nav-link" routerLink="/admin/restaurant"><i class="fa fa-f2bb"></i>Restaurants</a>
                  <a class="nav-link" routerLink="/admin/our-services"><i class="fa fa-layer-group"></i>General</a>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="logout()"><i class="fa fa-home"></i>Exit</a>
            </li>
          </ul>
        </div>
      </div>

      <div class=" sizeP col-md-10">
        <div class="container">
          <div class="content-box-large">
            <div class="panel-heading">
              <div class="panel-title">Rooms Management</div>
            </div>
            <!-- button-add -->
            <div class="col col-xs-6 text-right">
              <p><button class="btn btn-add btn-xs" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><span class="fa fa-plus-square"></span></button></p>
            </div>
            <div class="panel-body">
              <div class="table-responsive">
                <table id="mytable" class="table table-bordered table-striped">
                  <thead>
                    <tr >
                      <th>Image</th>
                      <th>Room number</th>
                      <th>Category</th>
                      <th>Description</th>
                      <th>Characteristics</th>
                      <th>AditionalInfo</th>
                      <th style="width: 10px">Price</th>
                      <th>Edit</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="
                    let room of roomsArray ">
                      <td> <img *ngIf="room.img"
                         (click)="viewImage(room.img)" 
                         data-toggle="modal" data-target="#myModal" data-whatever="@mdo" 
                         class="pointer img-50" 
                         src="{{ room.img }}"> </td>
                      <td>{{ room.number }}</td>
                      <td>{{ room.categoryName }}</td>
                      <td class="break">{{ room.description }}</td>
                      <td class="break">{{ room.characteristics }}</td>
                      <td class="break">{{ room.aditionalInfo }}</td>
                      <td>{{ room.price }}</td>
                      <td>
                        <p data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" title="Edit"><button (click)="getUpdate(room.key)" class="btn btn-edit btn-xs"><span class="fa fa-pencil"></span></button></p>
                      </td>
                      <td>
                        <p data-placement="top" data-toggle="tooltip" title="Delete"><button (click)="deleteRoom(room.key)" class="btn btn-delete btn-xs"><span class="fa fa-trash"></span></button></p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create a new room</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="carouselExampleControls" class="carousel " data-ride="carousel">
          <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="carousel-inner">
              <div class="carousel-item active">

                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Category:</label>
                  <select [(ngModel)]="rom.categoryName" type="text" class="form-control" name="categoryName" required>
                    <option value="">Select a category</option>
                    <option *ngFor="let cat of categoriesArray | keys let i = index" [value]="categoriesArray[cat].name">{{categoriesArray[cat].name}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Number:</label>
                  <input [(ngModel)]="rom.number" type="number" class="form-control" name="number" required>
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Description:</label>
                  <input [(ngModel)]="rom.description" class="form-control" name="description" required>
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Characteristics:</label>
                  <input [(ngModel)]="rom.characteristics" class="form-control" name="characteristics" required>
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">AditionalInfo:</label>
                  <input [(ngModel)]="rom.aditionalInfo" class="form-control" name="aditionalInfo" required>
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Price:</label>
                  <input [(ngModel)]="rom.price" type="number" class="form-control" name="price" required>
                </div>
              </div>
              <!-- form -->
              <div class="carousel-item">

                <div class="dropzone" 
                    appDropzone
                    (hovered)="toggleHover($event)" 
                    (dropped)="onDrop($event)" 
                    [class.hovering]="isHovering">

                  <h3>Drag and Drop a File</h3>
                  <div class="file">
                    <label class="file-label">
                      <input class="file-input" type="file" multiple  (change)="onDrop($event.target.files)">

                      <span class="file-cta">
                        <span class="file-icon">
                          <i class="fa fa-upload"></i>
                        </span>
                        <span class="file-label">
                          or choose a file…
                        </span>
                      </span>
                    </label>
                  </div>
                </div>


                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>

              </div>
            </div>
          </form>

          <!-- Controls -->
          <button class="btn btn-primary " href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </button>
          <button class="btn btn-primary " href="#carouselExampleControls" role="button" data-slide="next">
            Next <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-modals [img]="url"></app-modals>
