

<footer class="ftco-footer ftco-section">

    <div >      
        <div >
            <div class="col-md-12 text-center">
                <p class="margin">                  
                  Copyright &copy;{{year}} All rights reserved | Hanna Buelvas - Valentina Muñoz  
                  </p>                
          <p class="col-md-12 text-center margin Title">Are you an admin?</p>
          <p class="margin">
              Sign in and manage your site, fast and without complications!</p>                          
          <a  routerLink="/login" style="color: #e2c0bb">Sign in  <span class="ion-ios-arrow-forward margin"></span></a>
          <div class="col-md-12 text-center">        
          <ul class="ftco-footer-social list-unstyled  marginF">
                <li><a href="#"><span class="icon-twitter"></span></a></li>
                <li><a href="#"><span class="icon-facebook"></span></a></li>
                <li><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
              </div>
              <div class="text-left">
              <a (click)="logout()" style="color: #e2c0bb">Exit <span class="ion-ios-arrow-forward margin"></span></a>
              </div>
              </div>
        </div>
      </div>

</footer>